fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
sentence-transformers
torch
qdrant-client
rank-bm25
groq
fuzzywuzzy
jellyfish
pydantic
networkx
PyPDF2
pdfplumber
pytesseract
Pillow
python-multipart
fitz
PyMuPDF
requests
numpy
pandas
python-dotenv
python-Levenshtein